/* common shared styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;

}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 800;
    padding: 14px 34px;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
}

.tittle {
    color: rgb(19, 19, 24);
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.details {
    position: relative;
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;

}

/* header section */
header {
    width: 1170px;
    margin: 0 auto;
}

/* nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left {
    display: flex;
}

nav img {
    position: relative;
    width: 45px;
    height: 46px;
    top: 35px;
}

nav h3 {
    margin-left: 25px;
    font-size: 2.1rem;
    font-weight: 800;
    color: rgb(19, 19, 24);
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-size: 1.1rem;
    font-weight: 400;
}

nav ul .home {
    color: rgb(255, 84, 0);
    font-weight: 700;
}

nav .left .travel {
    color: rgb(255, 84, 0);
    font-weight: 800;
}

/* nav menu styles */
.checkbtn {
    font-size: 2rem;
    color: rgb(19, 19, 24);
    float: right;
    line-height: 110px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* banner styles */
.banner {
    width: 1170px;
    height: 500px;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner-container {
    /* width: 800px;
    height: 288px; */
    margin: 106px 185px;
    justify-content: center;
}

.banner h3 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 106px;
    margin-bottom: 24px;
}

.banner p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 48px;


}

.banner-btn {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    gap: 15px;
    margin-top: 0px;


}

.banner-btn .when {
    color: rgba(19, 19, 24, 0.5);
    padding: 16px 110px 16px 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    background: rgb(255, 255, 255);
    border: none;
    text-align: center;
}


.banner-btn .btn {
    color: rgba(19, 19, 24, 0.5);
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    background: rgb(255, 255, 255);
    border: none;
    text-align: center;
}

.banner-btn .find-now {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    padding: 16px 84px 16px 16px;
    border: none;
    text-align: center;
}

/* tour styles */

main {
    width: 1170px;
    margin: 0 auto;
}

.tour {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.tour .tour-text h3 {
    color: rgb(19, 19, 24);
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: -2px;
}

.description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

#read-more {
    margin-top: 40px;
}

/* destination section */
.destination {
    margin-top: 100px;
}


.destination img {
    padding: 4px;
}

/* .destination-img .img-4 {
    padding-left: 10px;
}

.destination-img .img-5 {
    padding-left: 10px;
} */

/* card styles */
.card-upper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card .card-content {
    padding: 22px 55px 12px 32px;
}

.card .card-tittle {
    color: rgb(19, 19, 24);
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: -1px;
}

.card .card-description {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
}

.card img {
    width: 64px;
    height: 64px;
}

.card .card-upper-1 {
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;

    background: rgba(251, 181, 99, 0.05);
}

.card .card-upper-2 {
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;

    background: rgba(41, 206, 246, 0.05);
}

.card .card-lower {
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    margin-top: 26px;
    width: 573px;
    position: relative;
    left: 275px;
}

/* deal styles */
.deal {
    margin-top: 100px;
}

.deal #book-now:hover {
    background-color: #11171a;
    transform: scale(1.1);
    transition: all 0.3s ease-in;
    top: -4px;
}

.deal #pckg:hover {
    background-color: #003011;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    top: -4px;
}


.first-img .img-content {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    width: 50%;
    position: relative;
    bottom: 452px;
    left: 550px;
    padding: 50px 77px 50px 50px;
    margin-bottom: -390px;
    border: none;
}

.first-img .img-content .icons {
    display: flex;
    gap: 10px;
}

.first-img .icons-caption {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
}

.deal-img h3 {
    color: rgb(19, 19, 24);
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: -1px;
}

.deal-img p {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
    margin-top: -10px;
    width: 120%;
}

.deal-img .price {
    color: rgb(255, 84, 0);
    font-size: 1.8rem;
    font-weight: 800;
}

.deal-img #icn {
    color: rgb(255, 84, 0);
    margin-right: 7px;
}

.second-img .img-content {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    width: 50%;
    position: relative;
    bottom: 452px;
    left: 40px;
    padding: 50px 77px 50px 50px;
    margin-bottom: -390px;
    border: none;
}

.second-img .img-content .icons {
    display: flex;
    gap: 10px;
}

.second-img .icons-caption {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
}


.third-img .img-content {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    width: 50%;
    position: relative;
    bottom: 452px;
    left: 550px;
    padding: 50px 77px 50px 50px;
    margin-bottom: -390px;
    border: none;
}

.third-img .img-content .icons {
    display: flex;
    gap: 10px;
}

.third-img .icons-caption {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
}

#pckg {
    margin-top: 50px;
    position: relative;
    left: 450px;

}


/* lost styles */
.lost {
    display: flex;
    margin-top: 100px;
    gap: 30px;
}

.lost h3 {
    color: rgb(19, 19, 24);
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: -3px;
}

.lost p {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.lost .lost-li {
    color: rgb(19, 19, 24);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 30px;
}

.lost #see-more {
    margin-top: 30px;
}

.lost #see-more:hover {
    background-color: #003011;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    top: -4px;
}

/* newsletter styles */
.newsletter {
    display: flex;
    margin-top: 100px;
    gap: 37px;
   
}

.newsletter h3 {
    color: rgb(19, 19, 24);
    font-size: 1.4rem;
    font-weight: 800;
    width: 80%;
}

.newsletter p {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
    width: 80%;
}

.newsletter-form {
    box-sizing: border-box;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding: 20px 31px 20px 30px;
}



.newsletter .name,
.email {
    padding: 16px 190px 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.3);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    border: none;
}

.newsletter #subscribe {
    padding: 14px 149px;
    margin-top: 20px;
}

.newsletter #subscribe:hover {
    background-color: #003011;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    top: -4px;
}
/* footer styles */
.footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}
.footer .logo{
    display: flex;
    justify-content: center;
}
.footer img{
    width: 35px;
    height: 35px;
    margin-top: 115px;
    margin-right: 15px;
}
.footer h3{
    color: rgb(19, 19, 24);
    font-size: 2rem;
    font-weight: 800;
    margin-top: 110px;
}
.footer p{
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.footer h5{
    color: rgb(19, 19, 24);
    font-size: 1rem;
    font-weight: 300;
    padding-bottom:110px;
}
.footer .travel{
    color: rgb(255, 84, 0);

}
.footer-content{
    width: 1440px;
    position: relative;
    left: 200px;
    justify-content: center;
    text-align: center;
}

/* responsiveness for mobile device */
@media screen and (max-width:576px) {

    header,
    main {
        width: 100%;
        margin: 0 auto;
    }

    .nav {
        align-items: center;
    }

    nav .right {
        display: none;
    }

    .checkbtn {
        display: block;
        font-size: 1.4rem;
        margin-right: 15px;
        margin-top: -19px;
    }

    nav h3 {
        margin-left: 10px;
        font-size: 1.4rem;
    }

    nav img {
        width: 30px;
        height: 28px;
        margin-top: -10px;

    }

    .banner {
        width: 100%;
    }

    .banner-btn {
        flex-direction: column;
        margin: 2px auto;

    }

    .banner-container {
        width: 80%;
        margin: 2px auto;
    }

    .banner h3 {
        font-size: 2rem;
        padding-top: 32px;

    }

    .banner p {
        font-size: 0.8rem;
    }

    .banner-btn .btn .find-now {
        padding: 16px 60px;
    }

    .tour,
    .lost {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .tour img,
    .lost img {
        width: 100%;
        padding: 0px auto;
    }

    #read-more,
    #see-more {
        margin-top: 12px;
        margin-bottom: 2px;
    }

    .description,
    .lost p,
    .lost-li {
        margin-top: 12px;
    }

    .tour h3,
    .lost h3 {
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .btn-primary {
        padding: 10px 20px;
    }

    .destination {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        justify-content: center;
        margin-top: 10px;
    }

    .destination img {
        width: 98%;
        height: 176px;
        object-fit: cover;
        border: 1px solid white;
        border-radius: 25px;

    }

    .destination h3 {
        font-size: 1.8rem;
        font-weight: 800;
    }

    .destinaion p {
        font-size: 1rem;
        width: 50%;
        font-weight: 700;
    }

    .card-upper {
        flex-direction: column;
        width: 100%;

    }

    .card .card-lower {
        position: relative;
        left: 0px;
        width: 100%;
    }

    .card .card-content {
        padding: 20px 10px 10px 10px;
    }

    .card .card-tittle {
        margin-top: -1px;
        font-size: 1.5rem;
    }

    .card .card-description {
        margin-top: -10px;
        text-align: center;
        font-size: 1rem;
    }

    .card img {
        width: 54px;
        height: 54px;
    }

    .deal img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 140px;

    }

    .first-img .img-content {
        width: 80%;
        position: relative;
        left: 10px;
        padding: 10px;
    }

    .second-img .img-content {
        width: 80%;
        position: relative;
        left: 10px;
        padding: 10px;
    }

    .third-img .img-content {
        width: 80%;
        position: relative;
        left: 10px;
        padding: 10px;
    }

    .deal-img h3 {
        font-size: 1.5rem;
    }

    .deal-img p {
        font-size: 0.8rem;
        width: 103.5%;
    }

    .deal-img .price {
        font-size: 1.2rem;
    }

    .deal-img #book-now {
        font-size: 1rem;
    }

    .deal-img #icn {
        margin-right: 4px;
        font-size: 1rem;
    }

    .deal-img .icons-caption {
        font-size: 0.9rem;

    }

    #pckg {
        margin-top: 9px;
        position: relative;
        left: 90px;
        font-size: 1.5rem;
        font-weight: 600;

    }

    .lost p {
        font-size: 1rem;

    }

    .lost .lost-li {
        font-size: 1rem;
    }
    

    .newsletter {
        flex-direction: column;
        margin-top: 40px;
    }

    .newsletter img {
        margin-top: -25px;
        width: 100%;
    }

    .newsletter #subscribe {
        padding: 15px 110px;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 10px;

    }

    .newsletter-form {
        
        width: 100%;
    }

    .newsletter .name,
    .email {
        padding: 16px 95px 16px 20px;
    }

    .newsletter h3 {
        font-size: 1.5rem;
      
    }

    .newsletter p {
        font-size: 0.9rem;
        
    }
    .footer-content{
        width: 100%;
        position: relative;
        left: 1px;
    }
   



}